*{
    box-sizing: border-box;
    text-align: center;
}

html {
    margin: 0px;
    height: 100%;
}
 
 body {
    margin: 0px;
    min-height: 100%;
 }
.header {
    overflow: hidden;
    background-color:#ffffff;
    width:960px;
    margin:auto;
  }

.header a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}
  
  

.header-right {
float: right;
}

#name{
    background-color: #4aaaa5;
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    width: 25%;
    padding: 15px;
    border: 1px solid #cccccc;
    float: left;
}

#full{
    clear:both;
    background-image: url("green.png");
    overflow:auto;
    width:100%;
    border: 1px solid #cccccc;
    height:743px;
    padding:20px;
}

img {
    max-width:25%;
    height:auto;
    border: 15px solid white;
}

#aboutme{
    background-color: #ffffff;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    width:960px;
    margin:auto;
    height:400px;

}

#contact{
    background-color: #ffffff;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    width:960px;
    margin:auto;
    height:400px;

}

#portfolio{
    background-color: #ffffff;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    width:960px;
    margin:auto;
    height:400px;

}


p{
    text-align: left;
    border: 15px solid white;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
}

h2 {
    background-color: #ffffff;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 23px;
    text-align: left;
    border: 15px solid white;
    border-bottom: 5px solid #cccccc;
    border-bottom-width: thin;
    padding-top: 10px;
    padding-bottom: 15px;
}

#topborder{
    background-color: #4aaaa5; 
    height: 5px;
    width:100%;
}

footer{
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    height: 25px;
    text-align: center;
    padding:25px;
}